*{
  margin:0;
  padding: 0;
}
html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color:black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
  padding: 0px;
}
body{
  margin: 0px;
  padding: 0px;
}
.navbar a{
  color: white;
  font-weight: bold;
}
.logo-nav{
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-nav img{
  margin-left: 10px;
}
#mission{
  height: 700px;
  background-image: url(../images/mission-background.jpg);
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.content{
  position: relative;
  top:69px;
}
.img-content{
  background-color: black;
  width: 1200px;
  height:100px;
}
