*{
  margin:0;
  padding: 0;
}
html{
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color:black;
  opacity: 0.9;
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* Header and Nav */
.navbar a{
  color: white;
  font-weight: bold;
}
.logo-nav{
  height: 69px;
  border-bottom: 1px solid seashell;
  position: fixed;
  background-color: black;
  z-index: 5;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-nav img{
  margin-left: 10px;
}

/* Mission */
#mission{
  height: 700px;
  background-image: url(../images/mission-background.jpg);
  max-width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
.content{
  position: relative;
  top:69px;
}
.img-content{
  background-color: black;
  width: 1200px;
  height:120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Tea of the Month */
#tea-month{
  margin: 50px auto;
}
.featured-heading{
  height: 100px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin: 10px auto;
}
.featured{
  margin: 0 auto;
  display: flex;
  min-height: 500px;
  max-width: 1000px;
  flex-wrap: wrap;
  justify-content: center;
}
.tea{
  margin:0 10px;
}

/* Locations */
#locations{
  height: 500px;
  background-image: url(../images/locations-background.jpg);
  width: 1200px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}
